#cart-title {
    display: flex;
    height: 25vh;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc; 
    margin-bottom: 30px; 
    width: 30%; 
    margin-left: auto; 
    margin-right: auto;
}

#cart-title h1 {
    font-size: 35px; 
}

#cart-total {
    display: block;
    text-align: center;
}

#cart-total #total-cost {
    font-size: 34px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 50px;
    border-bottom: 3px solid orange;
    width: 12%; 
    margin-left: auto; 
    margin-right: auto;
    transform: rotate(-2deg) translateX(0%);
}

#cart-total .amount {
    font-weight: bold; 
}   

.product-group {
    width: 60%;
    margin-bottom: 30px;
}

.product {
    height: auto;
    width: 90%;
    max-width: 360px;
    margin-bottom: 60px;
    padding-left: 10px;
    padding-right: 50px;
}

.product__heading {
    display: flex;
    align-items: center; 
    padding: 0 20px; 
    justify-content: space-between; 
    margin: 0;
    font-weight: 700;
    height: 35px;
    font-size: 24px;
    background-color: #FFFF7E;
    padding: 40px 50px; 
}

.column {
    flex: 1;
    margin-right: 20px; 
}

.product__text {
    margin-right: 10px; 
    font-size: 20px;
}

.product-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px; 
}

.product-group {
    width: 100%; 
    max-width: 400px; 
}

.total-cost-label {
    font-size: 11px; 
    font-weight: normal;
}

.amount {
    font-size: 24px; 
    font-weight: bold; 
}

.product__image {
    min-width:84px;
    max-height:84px;
}

.product__subheading {
    margin-top: 10px; 
    word-wrap: break-word; 
    width: calc(180% - 10px); 
}

.spacer {
    display: inline-block;
    width: 100px; 
}

.customize_button {
    font-size: 16px;
    padding: 10px 59px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.customize_button {
    margin-right: 20px; 
}

.increment-button,
.decrement-button {
    font-size: 16px; 
    padding: 5px 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: black;
}

.quantity {
    font-size: 16px; 
    padding: 5px 5px; 
    margin-left: 5px; 
}

.link-button {
    margin: 20px auto 0 auto;
    width: 250px;
    height: 45px;
    padding: 0 20px;
    background-color: #FFFF7E;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin-bottom: 100px;
}

.link-button:hover {
    background-color: #CCCCCC;
}

.link-button__icon {
    width: 20px;
    height: 20px;
}

