/*
    This temporarily fixes a bug where the scrollbar 
    at the x-axis appears. The cause is yet to be determined.

    If you found the cause, please submit an issue on our GitHub
    repository to notify the developers responsible for
    maintaining the website.

    Author: Keane Emanuel E. Dalisay
    Last Updated: May 10, 2024
*/
body {
    overflow-x: hidden; 
}

main {
    margin-bottom: 125px;
}

#cart-total {
    margin: 100px auto 0 auto;
    max-width: 300px;
    display: block;
    text-align: center;
}

#cart-total #total-label {
    font-weight: 400;
    font-size: 16px;
}

#cart-total #total-cost {
    font-size: 34px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 50px;
    border-bottom: 3px solid orange;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-2deg) translateX(0%);
}

#cart-total .amount {
    font-weight: bold;
}

#cart-empty {
    position: relative;
    margin: 40px auto 120px auto;
    padding: 10px 20px;
    display: inline-block;
    background: #FFFF7E;
    border-radius: 10px;
    font-size: 60px;
    font-weight: 700;
    max-width: 600px;
    text-align: center;
}

#cart-empty > span {
    position: absolute;
    top: 110px;
    left: 50%;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    transform: translateX(-50%);
}

.product-group {
    width: 60%;
    margin-bottom: 30px;
}

.product {
    position: relative;
    height: auto;
    width: 90%;
    max-width: 360px;
    margin-bottom: 60px;
}

.order__heading {
    margin: 0;
    padding: 0px 0px 0px 20px;
    min-height: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFF7E;
    font-weight: 700;
    font-size: 24px;
}

.column:not(.column:last-of-type) {
    flex: 1;
    margin-right: 20px;
}

.product__text {
    margin-right: 10px;
    font-size: 20px;
}

.product-container {
    margin: 0 auto 20px auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-group {
    width: 100%;
    max-width: 400px;
}

.total-cost-label {
    width: 60px;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
}

.amount {
    font-size: 24px;
    font-weight: bold;
}

.order__image{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.product__subheading {
    margin-top: 10px;
    word-wrap: break-word;
    width: calc(180% - 10px);
}

.spacer {
    display: inline-block;
    width: 100px;
}

.remove_button {
    position: absolute;
    top: -15px;
    right: 5px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 100%;
    background: #ee0000;
}
.remove_button:hover,
.remove_button:focus {
   outline: 2px solid blue;
}

.remove_button > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%);
}

.customize_button {
    font-size: 16px;
    padding: 10px 59px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.customize_button {
    margin-right: 20px;
}

.increment-button,
.decrement-button {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: black;
}

.quantity {
    font-size: 16px;
    padding: 5px 5px;
    margin-left: 5px;
}

@media only screen and (max-width: 740px) {
    #cart-title {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 700px) {
    #cart-empty {
        margin: 40px auto 50px auto;
        font-size: 40px;
    }
    #cart-empty > span {
        top: 80px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 450px) {
    #cart-empty {
        padding: 10px 5px;
        width: 80%;
    }
    #cart-empty > span{
        width: 80%;
        margin-top: 50px;
    }
}