.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/Albertos_Pizza-main/public/assets/images/orange-outlined-pizza.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}

.change_ps_container {
    background-color: transparent;
    padding: 45px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
}

.change_ps_container h1 {
    font-size: 38px;
    color: #000000;
    margin-bottom: 50px;
    white-space: nowrap;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 36px;
    font-size: 28px;
    color: #000000;
}

.input-field {
    margin-bottom: 50px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 14px;
    color: #000000;
}

.input-field input {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    color: #000000;
}

.input-field p.error {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.signup-button {
    display: block;
    width: calc(100% - 20px);
    max-width: 200px;
    background-color: #f0f0f0;
    color: #000000;
    padding: 10px 14px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.signup-button:hover {
    background-color: #c0c0c0;
}
