.forgot_ps_container {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    margin: 80px auto 30px;     
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot_ps_container h1 {
    font-size: 40px;
    color: #000000;
    margin-bottom: 60px; 
    white-space: nowrap;
    text-align: center;
}

.input-field {
    margin-bottom: 30px;
    width: 100%;
    min-height: 70px; 
    position: relative; 
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 14px;
    color: #000000;
    text-align: left;
    width: 100%;
}

.input-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    color: #000000;
}

.input-field p.error {
    position: absolute; 
    bottom: -25px;
    left: 0;
    display: none;
    color: red;
    font-size: 12px;
}

.button-container1 {
    width: 50%;
    max-width: 150px; 
    margin-bottom: 10px; 
}

.button-container2 {
    width: 100%;
    max-width: 200px; 
    margin: 30px auto 10px;
    text-align: center; 
}

.button-container1 .send-button {
    width: 80%;
    background-color: #f1f1f1;
    color: black;
    padding: 6px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
}

.button-container1 .send-button:hover {
    background-color: #e0e0e0;
}

.button-container2 .send-button {
    width: 90%;
    background-color: #f1f1f1;
    color: black;
    padding: 12px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.button-container2 .send-button:hover {
    background-color: #e0e0e0;
}

