.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../assets/images/orange-outlined-pizza.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}

.my-account-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 50px auto;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: #000000;
}

.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 14px;
    color: #000000;
}

.input-field input[type="text"],
.input-field input[type="tel"],
.input-field input[type="password"] {
    width: 300px;
    padding: 6px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    color: #000000;
}

.input-field p.error {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.login-button,
.small-button,
.verify-button,
.log-button,
.delete-button {
    display: block;
    width: calc(100% - 20px);
    max-width: 225px;
    height: calc(100% - 45px);
    max-height: 45px;
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.login-button:hover,
.small-button:hover,
.verify-button:hover,
.log-button:hover,
.delete-button:hover {
    background-color: #e0e0e0;
}

.small-button {
    font-size: 10px;
    max-width: 91px;
}

.verify-button {
    font-size: 14px;
}

.border {
    border-top: 1px solid #D9D9D9;
    width: 500px;
    display: block;
    max-height: 350px;
}

#home-address {
    height: auto;
    width: 90%;
    padding: 6px;
    margin-left: 10px;
    border: none;
    color: #000000;
    background-color: #FFFF7E;
    font-size: 14px;
    flex-grow: 1;
}

#address-input {
    flex-grow: 1;
    width: 400px;
}

#home {
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 600px;
    color: #000000;
    padding-top: 10px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.edit,
.delete,
.add-address-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
    max-width: 66px;
    height: calc(100% - 20px);
    max-height: 35px;
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 10px;
}
#add-address-button{
    display: none;
}
.edit-text,
.delete-text {
    font-size: 10px;
    font-weight: 600;
    color: black;
    margin: 0;
    height: 15px;
    width: 30px;
}

.edit-img
{
    height: 15px;
    width: 15px;
}
.delete-img {
    margin-right: 5px;
    height: 10px;
    width: 10px;
}
.edit:hover,
.delete:hover {
    background-color: #e0e0e0;
}

.address-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #FFFF7E;
    padding: 10px;
}

.see-all {
    text-decoration: underline;
    font-size: 16px;
    margin: 50px auto;
    cursor: pointer;
}

#delete-button{
    background-color: red;
    color: white;
}

#log-button{
    background-color: #FFFF7E;
}