.main__title {
    margin: 0 auto 50px auto;
    padding-top: 100px;
    display: flex;
    flex-flow: column nowrap;
    width: 700px;
}

.main__title-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 65px;
    color: #212121;
    text-align: center;
    margin-top: 0;
}

.link-button--sides {
    margin-bottom: 40px;
}


@media only screen and (max-width: 768px) {
    .main__title {
        margin-bottom: 30px;
        width: 61%;
        height: 100%;
        opacity: 1;
        margin-top: 0px;
        padding-top: 50px;
    }

    .main__title-text {
        font-size: 40px;
        justify-content: center;
    }
}